---
import Map from "./Map.astro"   
---


<footer>

    <Map />
    <div>
        <h2>Hours & Locations</h2>
        <p>an editable content block</p>
        <h3>Other Inquiries?</h3>
        <a href="mailto:something@littlewolf.com">Contact Us</a>
    </div>
</footer>

<style>
    @media (min-width: 500px) {
        footer {
            display: flex;
        }
    }
</style>