--- 
import Map from "../ui/Map.astro"; 
--- 

<footer role="contentinfo">
  <div>
    <div>
      <Map />
    </div>
    
    <div>
      <div>
        <h2>Hours & Locations</h2>
        <div>
          <p>Fetch Editable Content</p>
          <address>
            123 Wolf Street, Edmonton, AB T5J 2Z1
          </address>
        </div>
      </div>
      
      <div>
        <h3>Other Inquiries?</h3>
        <a 
          href="mailto:info@littlewolf.com" 
          aria-label="Send email to Little Wolf Restaurant"
        >
          Contact Us
          <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  
  <div>
    <p>&copy; 2026 Little Wolf Restaurant. All rights reserved. Edmonton, Alberta.</p>
  </div>
</footer>

<style>
 
</style>