---
import { string } from 'astro:schema';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

//component script: javascript/props run at build time here

/* 
export interface Props {
	pageTitle: string;
};

const pageTitle = Astro.props; */
---



<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		    <title>hello</title>
	</head>
	<body>
		<Header />
		<slot /> <!-- all page content would inject here -->
		<Footer />
	</body>
</html>

<!-- some styling -->
<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
