---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Link from '../components/ui/Link.astro'
import foodBankLogo from '../../public/edmonton-food-bank-logo.png';
import { Image } from 'astro:assets';  

const IndexLinks = [
    {label: 'Food Bank', url: '/food-bank'},
    {label: 'Menu', url: '/menu'}
]
---

<Layout title="Little Wolf Restaurant - Home">
  <Header links={IndexLinks}/>
  
<div class="wave-border">
    <div class="wave-flat"></div>
    <div class="wave-top"></div>
    <div class="wave-line"></div>
</div>

    <main class="page-wrapper hero">
      <div class="character">
      <Image 
        src={foodBankLogo}
        alt="Edmonton food bank logo."
        width={300}
        loading="lazy"
      />
      </div>
      <h1 class="title-heading">We've Got Your Request!</h1>
      <p>We'll check availability and email you shortly with the next steps.</p>

       <Link
        href="/"
        label="Back to Home"
        size="md"
        variant="default"
      />

    </main>

</Layout>

<style is:global>

    * {
        box-sizing: border-box;
    }

    body {
        overflow-x: hidden;
        min-width: 240px;
    }

       .page-wrapper {
        width: 100%;
        min-width: 240px;
        max-width: 600px;
        margin: 0 auto;
        padding: 0 1rem 5.25rem 1rem;
        text-align: center;
    }



    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 6.5rem;
        padding: 0 2rem;

    }

    .hero p {
              color: var(--color-cream);

    }

    /* wave */
    .wave-border {
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .wave-flat {
        width: 100%;
        height: 60px;
        background-color: var(--color-leather);
    }

    .wave-top {
        width: 100%;
        height: 100px;
        background-color: var(--color-leather);
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M0,25 C25,25 25,0 50,0 C75,0 75,25 100,25 L100,0 L0,0 Z' fill='black'/%3E%3C/svg%3E");
        -webkit-mask-size: 100px 100px;
        -webkit-mask-repeat: repeat-x;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M0,25 C25,25 25,0 50,0 C75,0 75,25 100,25 L100,0 L0,0 Z' fill='black'/%3E%3C/svg%3E");
        mask-size: 100px 100px;
        mask-repeat: repeat-x;
    }

    .wave-line {
        width: 100%;
        height: 100px;
        margin-top: -100px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M0,25 C25,25 25,0 50,0 C75,0 75,25 100,25' fill='none' stroke='%23D8CFAE' stroke-width='16'/%3E%3C/svg%3E");
        background-size: 100px 100px;
        background-repeat: repeat-x;
    }

    
    .title-heading {
    font-size: clamp(2.25rem, 4vw, 3.25rem);
    line-height: 1.1;
    }

/*     
  .character {
    margin: 0;
    font-size: 1rem;
  }

  .character img {
  width: 300px;
    filter: brightness(0) saturate(100%) invert(89%) sepia(14%) saturate(400%) hue-rotate(5deg) brightness(98%) contrast(90%);
  } */

  @media (min-width: 700px) {
    .hero {
      padding: unset;

    }    

  }


</style>

