<section aria-labelledby="faq-heading">
  <div>
    <h2 id="faq-heading">
      Frequently Asked Questions
    </h2>
  </div>

  <div>
    <!-- FAQ Item 1 -->
    <details>
      <summary>
        Lorem ipsum 
      </summary>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur laborum voluptatibus quia ducimus molestias. Rerum voluptatibus praesentium laborum facere placeat minima non.
      </div>
    </details>

    <!-- FAQ Item 2 -->
    <details>
      <summary>
        Lorem ipsum
      </summary>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero id animi ex voluptas perferendis pariatur distinctio iste quibusdam, fugiat sapiente nam praesentium soluta.
      </div>
    </details>

    <!-- FAQ Item 3 -->
    <details>
      <summary>
        Lorem ipsum
      </summary>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dolore vel facilis similique dolorum dicta temporibus voluptas quae cumque totam quas reiciendis numquam vitae.
      </div>
    </details>

    <!-- FAQ Item 4 -->
    <details>
      <summary>
        Lorem ipsum
      </summary>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias culpa facilis fugit molestias sunt laborum aliquam voluptatem velit eos fugiat debitis harum similique quas.
      </div>
    </details>

    <!-- FAQ Item 5 -->
    <details>
      <summary>
        Lorem ipsum
      </summary>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae odit assumenda quos officiis enim amet esse ratione perspiciatis ipsum nulla suscipit non explicabo nihil.
      </div>
    </details>
  </div>
</section>