<div class="foodbank">
    <div class="text">
        <h2>Food Bank Dinner</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae odit assumenda, quos officiis enim amet esse ratione, perspiciatis ipsum nulla suscipit non explicabo nihil, perferendis modi illo provident beatae delectus!</p>
        <a href="#">Save Your Seat</a>
    </div>
    <img src="/slide-3.webp" alt="food pic">
</div>

<style>
.foodbank {
    display: flex;
}
</style>
