<div class="cuisine">
    <h1>Our Cuisine</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dolore vel facilis similique dolorum dicta temporibus voluptas quae cumque, totam quas. Reiciendis numquam vitae, veniam placeat accusantium modi hic recusandae?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias culpa facilis fugit molestias sunt laborum aliquam voluptatem velit eos fugiat debitis, harum similique quas ut ipsum rerum eligendi? Odio, voluptatibus!</p>
    <div class="images">
        <img src="/slide-1.webp" alt="food pic">
        <img src="/slide-2.webp" alt="food pic 2">
        <img src="/slide-3.webp" alt="food pic 3">
    </div>
    <a href="#">View Menu</a>

</div>

<style>

    .images {
        display: flex;
    }
    img {
        max-width: 400px;
    }
</style>
