<section>
  <div>
    <div>
      <h2>
        Our Story
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam totam recusandae debitis voluptate, iste delectus excepturi illum ducimus, dolore veniam a! Amet provident blanditiis ullam rem tempore eum deserunt impedit?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam cupiditate deserunt iure soluta? Totam delectus molestias molestiae. Qui facilis omnis, necessitatibus dolorum autem error, vero delectus repudiandae, quasi illo minus?
      </p>
    </div>
    <div>
      <img 
        src="/slide-1.webp" 
        alt="Chef preparing signature dish at Little Wolf Restaurant in Edmonton" 
        loading="lazy"
        width="600"
        height="400"
      >
    </div>
  </div>
</section>