
<div class="story">
    
    <div class="section-1">
        <h2>Our Story</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur laborum voluptatibus quia ducimus molestias. Rerum voluptatibus praesentium laborum facere placeat minima non, similique obcaecati dolore, saepe, recusandae aperiam sunt error.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero id animi ex voluptas perferendis pariatur distinctio iste quibusdam, fugiat sapiente nam, praesentium soluta atque reiciendis ullam illo officiis temporibus inventore.</p>
    </div>
    
    <img src="/slide-1.webp" alt="An image of food.">
</div>

<style>
.story {
    display: flex;
    
}


</style>