---
//likely mostly HTML section preceding the form on the food bank dinner
//may import react carousel and style it differently 

---

<section>
    <h2>Reserve Your Seat</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nostrum, nisi explicabo ipsa nam totam corporis provident eaque, accusamus odit velit earum labore doloribus, dignissimos magni voluptate sunt id at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod assumenda modi cum voluptates id voluptatum unde odio dolor eius praesentium iste maxime atque perferendis deserunt, illo rem. Hic, ea est. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel cum quae exercitationem nemo dolores? Voluptatibus maiores rem consequuntur fuga alias. Quod perspiciatis ut, minus cumque quas recusandae nisi tempore magni!</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas libero repudiandae natus minus fugit quos rerum, sit cum ipsam. Ut explicabo, architecto repellat culpa porro atque maxime dignissimos recusandae ipsa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit sint ab provident sapiente. Obcaecati animi, esse eius rerum, nemo iusto expedita, atque quis culpa deleniti nam quos assumenda commodi illo?</p>
</section>

<div>
<p>Important info regarding form. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus excepturi expedita beatae architecto assumenda sapiente quos libero, itaque rerum adipisci, nesciunt laboriosam at aperiam doloremque deserunt facilis, officiis voluptatem quibusdam.</p>
</div>